<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.student.StudentMapper">

    <!--查询学生-->
    <select id="select" parameterType="java.util.Map"
            resultType="sunday.pojo.school.Student">
        SELECT *
        FROM stuexasys.com_student
        <where>
            <if test="studentId != null">
                AND studentId=#{studentId,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password=#{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--查询学生详细信息-->
    <select id="selectStudentInfo" parameterType="java.util.Map" resultType="sunday.pojo.student.StudentTaken">
        SELECT DISTINCT
        s.studentId AS studentId,
        s.name AS name,
        s.email AS email,
        s.cellphone AS cellphone,
        s.gender AS gender,
        s.password AS password,
        s.specialtyId AS specialtyId,
        p.name AS specialtyName
        FROM stuexasys.com_student s, stuexasys.com_specialty p
        where s.specialtyId = p.specialtyId
        <if test="studentId != null">
            AND s.studentId = #{studentId,jdbcType=INTEGER}
        </if>
        <if test="specialtyId != null">
            AND s.specialtyId IN
            <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                #{specialtyItem}
            </foreach>
        </if>
    </select>

    <!--查询学生考试信息-->
    <select id="selectExamInfo" resultType="sunday.pojo.student.ExamTaken" parameterType="java.util.Map">
        SELECT DISTINCT
            c.courseId AS courseId,
            c.name     AS courseName,
            e.content1 AS content1,
            e.content2 AS content2,
            e.content3 AS content3,
            e.date1    AS date1,
            e.date2    AS date2,
            e.date3    AS date3,
            e.date4    AS date4,
            e.sign1    AS sign1,
            e.sign2    AS sign2,
            e.sign3    AS sign3,
            e.sign4    AS sign4,
            e.started  AS started,
            e.test     AS test
        FROM stuexasys.com_examinfo e, stuexasys.com_student s, stuexasys.com_course c
        WHERE s.specialtyId = e.specialtyId AND c.courseId = e.courseId AND e.started = 1 AND
              s.studentId = #{studentId,jdbcType=INTEGER}
    </select>

    <!--查询题库（选择题）-->
    <select id="selectQuestionBaseSingle" parameterType="java.util.Map" resultType="sunday.pojo.student.SingleTaken">
        SELECT *
        FROM stuexasys.com_single_question s
        WHERE s.courseId = #{courseId,jdbcType=INTEGER} AND s.section IN
        <foreach collection="sectionList" index="index" item="sectionItem" open="(" separator="," close=")">
            #{sectionItem}
        </foreach>
        ORDER BY s.levels
    </select>

    <!--查询题库（判断题）-->
    <select id="selectQuestionBaseTf" parameterType="java.util.Map" resultType="sunday.pojo.student.TfTaken">
        SELECT *
        FROM stuexasys.com_tf_question t
        WHERE t.courseId = #{courseId,jdbcType=INTEGER} AND t.section IN
        <foreach collection="sectionList" index="index" item="sectionItem" open="(" separator="," close=")">
            #{sectionItem}
        </foreach>
        ORDER BY t.levels
    </select>

    <!--查询题库（附加题）-->
    <select id="selectQuestionBaseAnother" parameterType="java.util.Map"
            resultType="sunday.pojo.student.AnotherTestTaken">
        SELECT DISTINCT
            a.courseId AS courseId,
            a.content  AS content,
            a.id       AS Id
        FROM stuexasys.com_another_question a
        WHERE a.courseId = #{courseId,jdbcType=INTEGER}
    </select>

    <!--更新学生信息-->
    <update id="update" parameterType="java.util.Map">
        UPDATE stuexasys.com_student
        <set>
            <if test="password !=null">
                password=#{password,jdbcType=VARCHAR},
            </if>
            <if test="cellphone !=null">
                cellphone=#{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="gender !=null">
                gender=#{gender,jdbcType=CHAR},
            </if>
            <if test="email !=null">
                email=#{email,jdbcType=VARCHAR},
            </if>
            <if test="specialtyId!=null">
                specialtyId=#{specialtyId,jdbcType=INTEGER},
            </if>
        </set>
        where studentId=#{studentId,jdbcType=INTEGER}
    </update>

    <!--插入学生-->
    <insert id="insertStudent" parameterType="sunday.pojo.school.Student">
        INSERT INTO stuexasys.com_student (studentId, password, specialtyId)
        VALUES (#{studentId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR},
                #{specialtyId,jdbcType=INTEGER})
    </insert>

    <!--插入学生与权限的关联-->
    <insert id="insertStudentRole" parameterType="java.util.Map">
        INSERT INTO stuexasys.com_studnet_l_role (studentId, roleId)
        VALUES (#{studentId,jdbcType=INTEGER}, 4)
    </insert>

    <!--插入学生成绩(首次测试)-->
    <insert id="insertGrade" parameterType="java.util.Map">
        INSERT INTO stuexasys.com_grade (studentId, courseId, grade1)
        VALUES (
            #{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER},
            #{grade1,jdbcType=INTEGER})
    </insert>

    <!--更新学生成绩（除测试一和测试四）-->
    <update id="updateGrade" parameterType="java.util.Map">
        UPDATE stuexasys.com_grade
        <set>
            <if test="grade2!=null">
                grade2 = #{grade2,jdbcType=INTEGER}
            </if>
            <if test="grade3!=null">
                grade3 = #{grade3,jdbcType=INTEGER}
            </if>
        </set>
        WHERE studentId=#{studentId,jdbcType=INTEGER} AND courseId= #{courseId,jdbcType=INTEGER}
    </update>

    <!--查询学生附加题信息-->
    <select id="selectStudentAnotherQuestionInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.student.AnotherTestTaken">
        SELECT *
        FROM stuexasys.com_student_l_another_question
        WHERE courseId = #{courseId,jdbcType=INTEGER} AND studentId = #{studentId,jdbcType=INTEGER}
    </select>

    <!--插入学生附加题的答案-->
    <insert id="insertAnotherResult" parameterType="java.util.Map">
        INSERT INTO stuexasys.com_student_l_another_question (studentId, courseId, result, id)
        VALUES (#{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR},
                #{Id,jdbcType=BIGINT})
    </insert>

    <!--更新学生附加题的答案-->
    <update id="updateAnotherResult" parameterType="java.util.Map">
        UPDATE stuexasys.com_student_l_another_question
        SET result = #{result,jdbcType=VARCHAR}
        WHERE studentId = #{studentId,jdbcType=INTEGER} AND courseId = #{courseId,jdbcType=INTEGER} AND
              Id = #{Id,jdbcType=BIGINT}
    </update>

    <!--查询学生成绩以及信息-->
    <select id="selectGrade" parameterType="java.util.Map" resultType="sunday.pojo.student.GradeTaken">
        SELECT DISTINCT
            g.studentId  AS studentId,
            s.name       AS studentName,
            c.name       AS courseName,
            g.grade1     AS grade1,
            g.grade2     AS grade2,
            g.grade3     AS grade3,
            g.grade4     AS grade4,
            g.total      AS total,
            tc.starttime AS startTime,
            tc.endtime   AS endtime
        FROM stuexasys.com_course c, stuexasys.com_grade g, stuexasys.com_student s, stuexasys.com_teacher_l_course tc
        WHERE
            g.studentId = s.studentId AND g.courseId = c.courseId AND c.courseId = tc.courseId AND
            s.specialtyId = tc.specialtyId AND g.studentId = #{studentId,jdbcType=INTEGER}
    </select>

    <!--查询学生课程-->
    <select id="selectCourse" parameterType="java.util.Map" resultType="sunday.pojo.student.CourseTaken">
        SELECT DISTINCT
            c.name       AS courseName,
            c.credit     AS credit,
            c.period     AS period,
            tc.starttime AS startTime,
            tc.endtime   AS endtime
        FROM stuexasys.com_course c, stuexasys.com_teacher_l_course tc, stuexasys.com_student s
        WHERE
            c.courseId = tc.courseId AND s.specialtyId = tc.specialtyId AND s.studentId = #{studentId,jdbcType=INTEGER}
    </select>

    <!--删除学生信息-->
    <delete id="delete" parameterType="java.util.Map">
        DELETE FROM stuexasys.com_student
        <where>
            <if test="studentId != null">
                AND studentId = #{studentId ,jdbcType=INTEGER}
            </if>
            <if test="specialtyId != null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>
    </delete>

</mapper>