<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.student.StudentMapper">

    <!--查询学生-->
    <select id="select" parameterType="java.util.Map"
            resultType="sunday.pojo.school.Student">
        SELECT *
        FROM com_student
        <where>
            <if test="studentId != null">
                AND studentId=#{studentId,jdbcType=CHAR}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=CHAR}
            </if>
            <if test="password != null">
                AND password=#{password,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <!--查询学生详细信息-->
    <select id="selectStudentInfo" parameterType="java.util.Map" resultType="sunday.pojo.student.StudentTaken">
        SELECT DISTINCT
            s.studentId AS studentId,
            s.name      AS name,
            s.email     AS email,
            s.cellphone AS cellphone,
            s.gender    AS gender,
            s.password  AS password,
            p.name      AS specialtyName
        FROM com_student s, com_specialty p
        WHERE s.specialtyId = p.specialtyId AND
              s.studentId = #{studentId,jdbcType=CHAR}
    </select>

    <!--查询学生考试信息-->
    <select id="selectExamInfo" resultType="sunday.pojo.student.ExamTaken" parameterType="java.util.Map">
        SELECT DISTINCT
            c.courseId AS courseId,
            c.name     AS courseName,
            e.content1 AS content1,
            e.content2 AS content2,
            e.content3 AS content3,
            e.date1    AS date1,
            e.date2    AS date2,
            e.date3    AS date3,
            e.date4    AS date4,
            e.sign1    AS sign1,
            e.sign2    AS sign2,
            e.sign3    AS sign3,
            e.sign4    AS sign4,
            e.started  AS started,
            e.test     AS test
        FROM com_examinfo e, com_student s, com_course c
        WHERE s.specialtyId = e.specialtyId AND c.courseId = e.courseId AND e.started = 1 AND
              s.studentId = #{studentId,jdbcType=CHAR}
    </select>

    <!--查询题库（选择题）-->
    <select id="selectQuestionBaseSingle" parameterType="java.util.Map" resultType="sunday.pojo.student.SingleTaken">
        SELECT *
        FROM com_single_question s
        WHERE s.courseId = #{courseId,jdbcType=CHAR} AND s.section IN
        <foreach collection="sectionList" index="index" item="sectionItem" open="(" separator="," close=")">
            #{sectionItem}
        </foreach>
        ORDER BY s.levels
    </select>

    <!--查询题库（判断题）-->
    <select id="selectQuestionBaseTf" parameterType="java.util.Map" resultType="sunday.pojo.student.TfTaken">
        SELECT *
        FROM com_tf_question t
        WHERE t.courseId = #{courseId,jdbcType=CHAR} AND t.section IN
        <foreach collection="sectionList" index="index" item="sectionItem" open="(" separator="," close=")">
            #{sectionItem}
        </foreach>
        ORDER BY t.levels
    </select>

    <!--查询题库（附加题）-->
    <select id="selectQuestionBaseAnother" parameterType="java.util.Map"
            resultType="sunday.pojo.student.AnotherTestTaken">
        SELECT DISTINCT
            a.courseId AS courseId,
            a.content  AS content,
            a.id       AS Id
        FROM com_another_question a
        WHERE a.courseId = #{courseId,jdbcType=CHAR}
    </select>

    <!--更新学生信息-->
    <update id="update" parameterType="java.util.Map">
        UPDATE com_student
        <set>
            <if test="password !=null">
                password=#{password,jdbcType=CHAR},
            </if>
            <if test="cellphone !=null">
                cellphone=#{cellphone,jdbcType=CHAR},
            </if>
            <if test="gender !=null">
                gender=#{gender,jdbcType=CHAR},
            </if>
            <if test="email !=null">
                email=#{email,jdbcType=CHAR},
            </if>
        </set>
        where studentId=#{studentId,jdbcType=CHAR}
    </update>

    <!--插入学生-->
    <insert id="insertStudent" parameterType="sunday.pojo.school.Student">
        INSERT INTO com_student (studentId, password, specialtyId)
        VALUES (#{studentId,jdbcType=CHAR}, #{password,jdbcType=CHAR},
                #{specialtyId,jdbcType=CHAR})
    </insert>

    <!--插入学生班级-->
    <insert id="insertStudentSpecialty" parameterType="sunday.pojo.school.Student">
        INSERT INTO com_clazz_l_student (studentId, specialtyId)
        VALUES (#{studentId,jdbcType=CHAR}, #{specialtyId,jdbcType=CHAR})
    </insert>

    <!--插入学生成绩(待议)-->
    <insert id="insertGrade" parameterType="java.util.Map">
        INSERT INTO com_grade (studentId, courseId, grade1, grade2, grade3, grade4)
        VALUES (
            #{studentId,jdbcType=CHAR}, #{courseId,jdbcType=CHAR},
            #{grade1,jdbcType=TINYINT}, #{grade2,jdbcType=TINYINT},
            #{grade3,jdbcType=TINYINT}, #{grade4,jdbcType=TINYINT})
    </insert>

    <!--查询学生成绩以及信息-->
    <select id="selectGrade" parameterType="java.util.Map" resultType="sunday.pojo.student.GradeTaken">
        SELECT DISTINCT
            g.studentId  AS studentId,
            s.name       AS studentName,
            c.name       AS courseName,
            g.grade1     AS grade1,
            g.grade2     AS grade2,
            g.grade3     AS grade3,
            g.grade4     AS grade4,
            g.total      AS total,
            tc.starttime AS startTime,
            tc.endtime   AS endtime
        FROM com_course c, com_grade g, com_student s, com_teacher_l_course tc
        WHERE
            g.studentId = s.studentId AND g.courseId = c.courseId AND c.courseId = tc.courseId AND
            s.specialtyId = tc.specialtyId AND g.studentId = #{studentId,jdbcType=CHAR}
    </select>

    <!--查询学生课程-->
    <select id="selectCourse" parameterType="java.util.Map" resultType="sunday.pojo.student.CourseTaken">
        SELECT DISTINCT
            c.name       AS courseName,
            c.credit     AS credit,
            c.period     AS period,
            tc.starttime AS startTime,
            tc.endtime   AS endtime
        FROM com_course c, com_teacher_l_course tc, com_student s
        WHERE c.courseId = tc.courseId AND s.specialtyId = tc.specialtyId AND s.studentId = #{studentId,jdbcType=CHAR}
    </select>
</mapper>