<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.teacher.QuestionMapper">

    <!--删除简答题-->
    <delete id="deleteAnotherQuestion" parameterType="java.util.Map">
        DELETE FROM com_another_question
        WHERE id = #{id}
    </delete>

    <!--更新附加题-->
    <update id="updateAnotherQuestion"
            parameterType="yang.domain.teacher.AnotherTaken">
        UPDATE com_another_question
        <set>
            <if test="courseId != null">
                courseId = #{courseId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="result != null">
                result = #{result},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--查询简答题with课程Id-->
    <select id="selectAnotherQuestionWithCourse" parameterType="java.util.Map"
            resultType="yang.domain.teacher.AnotherTaken">
        SELECT DISTINCT
        a.id,
        a.courseId,
        c.name AS courseName,
        a.content,
        a.result
        FROM com_another_question a,com_course c
        WHERE a.courseId=c.courseId
        <if test="courseId!=null">
            AND a.courseId=#{courseId}
        </if>
    </select>
</mapper>