<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.teacher.QuestionMapper">

    <!--删除简答题-->
    <delete id="deleteAnotherQuestion" parameterType="java.util.Map">
        DELETE FROM com_another_question
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!--更新简答题-->
    <update id="updateAnotherQuestion" parameterType="yang.domain.teacher.AnotherTaken">
        UPDATE com_another_question
        SET courseId = #{courseId,jdbcType=INTEGER}, content = #{content,jdbcType=VARCHAR},
            result   = #{result,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <!--查询简答题with课程Id-->
    <select id="selectAnotherQuestionWithCourse" parameterType="java.util.Map"
            resultType="yang.domain.teacher.AnotherTaken">
        SELECT DISTINCT
        a.id AS id,
        a.courseId AS courseId,
        c.name AS courseName,
        a.content AS content,
        a.result AS result
        FROM com_another_question a,com_course c
        WHERE a.courseId=c.courseId
        <if test="courseId!=null">
            AND a.courseId=#{courseId,jdbcType=INTEGER}
        </if>
    </select>

</mapper>