<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.teacher.SpeCouMapper">

    <!--新增专业-->
    <insert id="insertSpecialty" parameterType="sunday.pojo.school.Specialty">
        INSERT INTO com_specialty(specialtyId,name)
        VALUES (#{specialtyId,jdbcType=CHAR},#{name,jdbcType=CHAR})
    </insert>

    <!--查询专业-->
    <select id="selectSpecialty" parameterType="java.util.Map"
            resultType="sunday.pojo.school.Specialty">
        SELECT DISTINCT s.*
        FROM com_teacher_l_course l,com_teacher t,com_specialty s
        WHERE l.teacherId=t.teacherId AND l.specialtyId=s.specialtyId
        <if test="teacherId != null">
            AND t.teacherId=#{teacherId,jdbcType=CHAR}
        </if>
    </select>

    <!--查询全部专业-->
    <select id="selectAllSpecialties" resultType="sunday.pojo.school.Specialty">
        SELECT *
        FROM com_specialty
    </select>

    <!--新增课程-->
    <insert id="insertCourse" parameterType="sunday.pojo.school.Course">
        INSERT INTO com_course(courseId,name,period,credit)
        VALUES (#{courseId,jdbcType=CHAR},#{name,jdbcType=CHAR},#{period,jdbcType=TINYINT},#{credit,jdbcType=TINYINT})
    </insert>

    <!--查询课程-->
    <select id="selectCourse" parameterType="java.util.Map"
            resultType="sunday.pojo.school.Course">
        SELECT DISTINCT c.*
        FROM com_teacher_l_course l,com_course c,com_teacher t
        WHERE l.teacherId=t.teacherId AND l.courseId=c.courseId
        <if test="teacherId != null">
            AND t.teacherId=#{teacherId,jdbcType=CHAR}
        </if>
    </select>

    <!--查询全部课程-->
    <select id="selectAllCourses" resultType="sunday.pojo.school.Course">
        SELECT *
        FROM com_course
    </select>

    <!--新增选课信息-->
    <insert id="insertCourseTaken"
            parameterType="sunday.pojo.teacher.CourseTaken">
        INSERT INTO com_teacher_l_course(teacherId,courseId,specialtyId,starttime,endtime)
        VALUES (#{teacherId,jdbcType=CHAR},#{courseId,jdbcType=CHAR},#{specialtyId,jdbcType=CHAR},#{starttime,jdbcType=DATE},#{endtime,jdbcType=DATE})
    </insert>

    <!--查询选课信息-->
    <select id="selectTakenInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.dto.TakenInfo">
        SELECT DISTINCT t.teacherId AS teacherId ,t.name AS teacherName ,c.name
        AS
        courseName,s.name AS specialtyName,l.starttime AS starttime,l.endtime AS
        endtime
        FROM com_teacher_l_course l,com_course c,com_teacher t,com_specialty s
        WHERE l.teacherId=t.teacherId AND l.courseId=c.courseId AND
        l.specialtyId=s.specialtyId
        <if test="teacherId != null">
            AND l.teacherId=#{teacherId,jdbcType=CHAR}
        </if>
        <if test="courseName != null">
            AND c.name=#{courseName,jdbcType=CHAR}
        </if>
        <if test="specialtyName != null">
            AND s.name=#{specialtyName,jdbcType=CHAR}
        </if>
        ORDER BY l.starttime ASC ,l.endtime ASC
    </select>

    <!--删除选课信息-->
    <delete id="deleteTakenInfo" parameterType="java.util.Map">
        DELETE l FROM com_teacher_l_course l,com_course c,com_teacher t,com_specialty s
        WHERE l.teacherId=t.teacherId AND l.courseId=c.courseId AND l.specialtyId=s.specialtyId
        AND t.teacherId=#{teacherId,jdbcType=CHAR} AND c.name=#{courseName,jdbcType=CHAR} AND s.name=#{specialtyName,jdbcType=CHAR}
    </delete>
</mapper>