<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.teacher.Student2GradeMapper">

    <!--更新学生成绩-->
    <update id="updateGrade" parameterType="yang.domain.teacher.GradeTaken">
        UPDATE com_grade
        <set>
            <if test="grade1 != null">
                grade1 = #{grade1,jdbcType=INTEGER},
            </if>
            <if test="grade2 != null">
                grade2 = #{grade2,jdbcType=INTEGER},
            </if>
            <if test="grade3 != null">
                grade3 = #{grade3,jdbcType=INTEGER},
            </if>
            <if test="grade4 != null">
                grade4 = #{grade4,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
        </set>
        WHERE studentId = #{studentId,jdbcType=INTEGER} AND courseId
        =#{courseId,jdbcType=INTEGER}
    </update>

    <!--查询学生成绩-->
    <select id="selectGradeTaken" parameterType="java.util.Map"
            resultType="yang.domain.teacher.GradeTaken">
        SELECT
        s.studentId,
        s.name AS studentName,
        c.courseId,
        c.name AS courseName,
        p.name AS specialtyName,
        p.specialtyId,
        g.grade1,
        g.grade2,
        g.grade3,
        g.grade4,
        g.total
        FROM com_teacher_l_course l,com_grade g,com_student s,com_specialty
        p,com_course c
        WHERE l.courseId=c.courseId AND l.specialtyId=p.specialtyId AND
        p.specialtyId=s.specialtyId AND s.studentId=g.studentId
        AND g.courseId=c.courseId
        <if test="teacherId != null">
            AND l.teacherId=#{teacherId,jdbcType=INTEGER}
        </if>
        <if test="specialtyId != null">
            AND l.specialtyId=#{specialtyId,jdbcType=INTEGER}
        </if>
        <if test="courseId != null">
            AND l.courseId=#{courseId,jdbcType=INTEGER}
        </if>
        ORDER BY l.specialtyId ASC
    </select>

    <!--更新附加题成绩-->
    <update id="updateAnother">
        UPDATE com_grade
        SET grade4=#{score,jdbcType=INTEGER}
        WHERE studentId = #{studentId,jdbcType=INTEGER} AND courseId =
        #{courseId,jdbcType=INTEGER}
    </update>
</mapper>