<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.teacher.StuGraMapper">

    <!--更新学生成绩-->
    <update id="insertGrade" parameterType="sunday.pojo.teacher.GradeTaken">
        UPDATE com_grade
        <set>
            <if test="grade1 != 0">
                grade1 = #{grade1,jdbcType=TINYINT},
            </if>
            <if test="grade2 != 0">
                grade2 = #{grade2,jdbcType=TINYINT},
            </if>
            <if test="grade3 != 0">
                grade3 = #{grade3,jdbcType=TINYINT},
            </if>
            <if test="grade4 != 0">
                grade4 = #{grade4,jdbcType=TINYINT},
            </if>
            <if test="total != 0">
                total = #{total,jdbcType=TINYINT},
            </if>
        </set>
        WHERE studentId = #{studentId,jdbcType=CHAR}
    </update>

    <!--查询学生成绩-->
    <select id="selectGradeTaken" parameterType="java.util.Map"
            resultType="sunday.pojo.teacher.GradeTaken">
        SELECT DISTINCT g.studentId AS studentId,s.name AS studentName,c.name AS
        courseName, g.grade1 AS grade1,g.grade2 AS grade2,g.grade3 AS
        grade3,g.grade4 AS grade4,g.total AS total,p.name AS
        specialtyName,p.specialtyId AS specialtyId
        FROM com_teacher_l_course l,com_teacher t,com_course c,com_grade
        g,com_student s,com_specialty p,com_clazz_l_student cl
        WHERE l.teacherId=t.teacherId AND l.courseId=c.courseId AND
        c.courseId=g.courseId AND g.studentId=s.studentId AND
        cl.studentId=s.studentId AND cl.specialtyId=p.specialtyId
        <if test="teacherId != null">
            AND t.teacherId=#{teacherId,jdbcType=CHAR}
        </if>
        <if test="specialtyName != null">
            AND p.name=#{specialtyName,jdbcType=CHAR}
        </if>
        <if test="specialtyId != null">
            AND p.specialtyId=#{specialtyId,jdbcType=CHAR}
        </if>
        ORDER BY p.specialtyId ASC
    </select>
</mapper>