<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.teacher.StuGraMapper">
    <!--查询学生-->
    <select id="selectGradeTaken" parameterType="java.util.Map"
            resultType="sunday.pojo.GradeTaken">
        <!--SELECT *-->
        <!--FROM com_teacher_lcourse l,com_teacher t,com_course c,com_grade g-->
        <!--<where>-->
            <!--<if test="studentId != null">-->
                <!--AND studentId=#{studentId,jdbcType=CHAR}-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--AND name = #{name,jdbcType=CHAR}-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--AND password=#{password,jdbcType=CHAR}-->
            <!--</if>-->
        <!--</where>-->
    </select>
</mapper>