<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.teacher.Teacher2QuestionMapper">

    <!--查询选择题-->
    <select id="selectSingleQuestion" parameterType="java.util.Map"
            resultType="yang.domain.school.SingleQuestion">
        SELECT *
        FROM com_single_question
        <where>
            <if test="courseId != null">
                courseId=#{courseId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--按照课程和章节查询选择题-->
    <select id="selectSingleInfo" parameterType="java.util.Map"
            resultType="yang.domain.school.SingleQuestion">
        SELECT *
        FROM com_single_question
        <where>
            <if test="courseId != null">
                courseId=#{courseId,jdbcType=INTEGER}
            </if>
            <if test="section != null">
                AND section=#{section,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--查询判断题-->
    <select id="selectTfInfo" parameterType="java.util.Map"
            resultType="yang.domain.school.TfQuestion">
        SELECT *
        FROM com_tf_question
        <where>
            <if test="courseId != null">
                courseId=#{courseId,jdbcType=INTEGER}
            </if>
            <if test="section != null">
                AND section=#{section,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--更新判断题-->
    <update id="updateTfInfo" parameterType="yang.domain.school.TfQuestion">
        UPDATE com_tf_question
        <set>
            section=#{section,jdbcType=VARCHAR},
            levels=#{levels,jdbcType=INTEGER},
            content=#{content,jdbcType=VARCHAR},
            result=#{result,jdbcType=INTEGER},
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>


    <!--更新选择题-->
    <update id="updateSingleInfo"
            parameterType="yang.domain.school.SingleQuestion">
        UPDATE com_single_question
        <set>
            section=#{section,jdbcType=VARCHAR},
            levels=#{levels,jdbcType=INTEGER},
            content=#{content,jdbcType=VARCHAR},
            que1=#{que1,jdbcType=VARCHAR},
            que2=#{que2,jdbcType=VARCHAR},
            que3=#{que3,jdbcType=VARCHAR},
            que4=#{que4,jdbcType=VARCHAR},
            result=#{result,jdbcType=CHAR}
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <!--删除判断题信息-->
    <delete id="deleteTfInfo" parameterType="yang.domain.school.TfQuestion">
        DELETE FROM com_tf_question
        where id=#{id,jdbcType=INTEGER}
    </delete>

    <!--删除选择题信息-->
    <delete id="deleteSingleInfo"
            parameterType="yang.domain.school.SingleQuestion">
        DELETE FROM com_single_question
        where id=#{id,jdbcType=INTEGER}
    </delete>

    <!--新增选择题-->
    <insert id="insertSingleQuestion"
            parameterType="yang.domain.school.SingleQuestion">
        INSERT INTO com_single_question(courseId, section, levels, que1, que2, que3, que4, result, content)
        VALUES (#{courseId,jdbcType=INTEGER},#{section,jdbcType=VARCHAR},#{levels,jdbcType=INTEGER},#{que1,jdbcType=VARCHAR},
        #{que2,jdbcType=VARCHAR},#{que3,jdbcType=VARCHAR},#{que4,jdbcType=VARCHAR},#{result,jdbcType=CHAR},#{content,jdbcType=VARCHAR})
    </insert>

    <!--新增判断题-->
    <insert id="insertTfQuestion" parameterType="yang.domain.school.TfQuestion">
         INSERT INTO com_tf_question(courseId, section, levels, content, result)
        VALUES (#{courseId,jdbcType=INTEGER},#{section,jdbcType=VARCHAR},#{levels,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{result,jdbcType=INTEGER})
    </insert>

    <!--新增附加题-->
    <insert id="insertAnother" parameterType="yang.domain.school.Another">
        INSERT INTO com_another_question(courseId, content, result)
          VALUES (#{courseId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{result,jdbcType=VARCHAR})
    </insert>

    <!--查询附加题-->
    <select id="selectAnother" parameterType="java.util.Map"
            resultType="yang.domain.teacher.AnotherTaken">
        SELECT
        l.id AS id,
        c.courseId AS courseId,
        c.name AS
        courseName,
        p.specialtyId AS specialtyId,
        p.name AS specialtyName,
        s.studentId AS studentId,
        s.name AS
        studentName,
        a.content AS content,
        g.grade4 AS score,
        a.result AS result,
        l.result AS studentAnswer
        FROM com_another_question a,com_student s,com_student_l_another_question
        l,com_course c,com_specialty p,com_grade g
        WHERE p.specialtyId=s.specialtyId AND s.studentId=g.studentId AND
        c.courseId=g.courseId AND l.courseId=c.courseId AND
        l.studentId=s.studentId AND l.id=a.id
        <if test="id != null">
            AND l.id=#{id,jdbcType=BIGINT}
        </if>
        <if test="courseId != null">
            AND l.courseId=#{courseId,jdbcType=INTEGER}
        </if>
        <if test="specialtyId != null">
            AND s.specialtyId=#{specialtyId,jdbcType=INTEGER}
        </if>
        <if test="studentId != null">
            AND s.studentId=#{studentId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>