<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.teacher.Teacher2QuestionMapper">
    <!--查询选择题-->
    <select id="selectSingleQuestion" parameterType="java.util.Map"
            resultType="sunday.pojo.school.SingleQuestion">
        SELECT DISTINCT sq.*
        FROM com_single_question sq
        <where>
            <if test="courseId != null">
                AND sq.courseId=#{courseId,jdbcType=INTEGER}
            </if>

        </where>
    </select>

    <!--按照课程和章节查询选择题-->
    <select id="selectSingleInfo" parameterType="java.util.Map" resultType="sunday.pojo.school.SingleQuestion">
        SELECT sq.*
        from com_single_question sq
        <where>
            <if test="courseId != null">
                sq.courseId=#{courseId,jdbcType=INTEGER}
            </if>
            <if test="section != null">
                AND sq.section IN
                <foreach collection="section" index="index" item="sectionItem" open="(" separator="," close=")">
                    #{sectionItem,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>


    <!--查询判断题-->
    <select id="selectTfInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.school.TfQuestion">
        SELECT DISTINCT tq.*
        FROM com_tf_question tq
        <where>
            <if test="courseId != null">
                tq.courseId=#{courseId,jdbcType=INTEGER}
            </if>
            <if test="section != null">
                AND tq.section IN
                <foreach collection="section" index="index" item="sectionItem" open="(" separator="," close=")">
                    #{sectionItem,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>

    <!--更新判断题-->
    <update id="updateTfInfo" parameterType="sunday.pojo.school.TfQuestion">
        UPDATE stuexasys.com_tf_question
        <set>
            section=#{section,jdbcType=VARCHAR},
            levels=#{levels,jdbcType=INTEGER},
            content=#{content,jdbcType=VARCHAR},
            result=#{result,jdbcType=INTEGER},
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>


    <!--更新选择题-->
    <update id="updateSingleInfo" parameterType="sunday.pojo.school.SingleQuestion">
        UPDATE stuexasys.com_single_question
        <set>
            section=#{section,jdbcType=VARCHAR},
            levels=#{levels,jdbcType=INTEGER},
            content=#{content,jdbcType=VARCHAR},
            que1=#{que1,jdbcType=VARCHAR},
            que2=#{que2,jdbcType=VARCHAR},
            que3=#{que3,jdbcType=VARCHAR},
            que4=#{que4,jdbcType=VARCHAR},
            result=#{result,jdbcType=CHAR}
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>


    <!--删除判断题信息-->
    <delete id="deleteTfInfo" parameterType="sunday.pojo.school.TfQuestion">
        DELETE FROM com_tf_question
        where id=#{id,jdbcType=INTEGER}
    </delete>


    <!--删除选择题信息-->
    <delete id="deleteSingleInfo" parameterType="sunday.pojo.school.SingleQuestion">
        DELETE FROM com_single_question
        where id=#{id,jdbcType=INTEGER}
    </delete>

    <!--新增选择题-->
    <insert id="insertSingleQuestion"
            parameterType="sunday.pojo.school.SingleQuestion">
        INSERT INTO com_single_question(courseId, section, levels, que1, que2, que3, que4, result, content)
        VALUES (#{courseId,jdbcType=INTEGER},#{section,jdbcType=VARCHAR},#{levels,jdbcType=INTEGER},#{que1,jdbcType=VARCHAR},
        #{que2,jdbcType=VARCHAR},#{que3,jdbcType=VARCHAR},#{que4,jdbcType=VARCHAR},#{result,jdbcType=CHAR},#{content,jdbcType=VARCHAR})
    </insert>

    <!--新增判断题-->
    <insert id="insertTfQuestion" parameterType="sunday.pojo.school.TfQuestion">
         INSERT INTO com_tf_question(courseId, section, levels, content, result)
        VALUES (#{courseId,jdbcType=INTEGER},#{section,jdbcType=VARCHAR},#{levels,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{result,jdbcType=INTEGER})
    </insert>

    <!--新增附加题-->
    <insert id="insertAnother" parameterType="sunday.pojo.school.Another">
        INSERT INTO com_another_question(courseId, content, result)
          VALUES (#{courseId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{result,jdbcType=VARCHAR})
    </insert>

    <!--查询附加题-->
    <select id="selectAnother" parameterType="java.util.Map"
            resultType="sunday.pojo.teacher.AnotherTaken">
        SELECT DISTINCT l.id AS id,c.courseId AS courseId,c.name AS
        courseName,p.specialtyId AS specialtyId,
        p.name AS specialtyName,s.studentId AS studentId,s.name AS
        studentName,a.content AS content,g.grade4 AS score,
        a.result AS result,l.result AS studentAnswer
        FROM com_another_question a,com_student s,com_student_l_another_question
        l,com_course c,com_specialty p,com_grade g
        WHERE l.studentId=s.studentId AND l.courseId=c.courseId AND l.id=a.id
        AND g.courseId=c.courseId AND g.studentId=s.studentId AND
        s.specialtyId=p.specialtyId
        <if test="id != null">
            AND l.id=#{id,jdbcType=BIGINT}
        </if>
        <if test="courseId != null">
            AND l.courseId=#{courseId,jdbcType=INTEGER}
        </if>
        <if test="specialtyId != null">
            AND s.specialtyId=#{specialtyId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>