<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.shiro.ResourceMapper">
    <!--新增资源-->
    <insert id="insert" parameterType="sunday.pojo.shiro.Resource">
        INSERT INTO com_resource(name,remark,permission,url)
        VALUES (#{name,jdbcType=CHAR},#{remark,jdbcType=CHAR},#{permission,jdbcType=CHAR},#{url,jdbcType=CHAR})
    </insert>

    <!--以角色信息查询资源-->
    <select id="selectByRoleInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.shiro.Resource">
        SELECT o.*
        FROM com_role_l_resource l,com_resource r,com_role o,com_teacher
        t,com_teacher_l_role tr,com_manager m,com_manager_l_role mr
        WHERE l.resourceId=r.id AND r.id=l.roleId AND tr.roleId=o.id AND
        tr.teacherId=t.id AND mr.roleId=o.id AND mr.managerId=m.id
        <if test="teacherId != null">
            AND t.id=#{teacherId,jdbcType=SHORT}
        </if>
        <if test="managerId != null">
            AND m.id=#{managerId,jdbcType=SHORT}
        </if>
    </select>
</mapper>