<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.shiro.ResourceMapper">
    <!--新增资源-->
    <insert id="insert" parameterType="yang.domain.shiro.Resource">
        INSERT INTO com_resource(name,remark,permission,url)
        VALUES (#{name},#{remark},#{permission},#{url})
    </insert>

    <!--以角色信息查询资源-->
    <select id="selectByRoleInfo" parameterType="java.util.Map"
            resultType="yang.domain.shiro.Resource">
        SELECT r.*
        FROM com_role_l_resource l,com_resource r,com_role o
        WHERE l.roleId=o.id AND l.resourceId=r.id
        <if test="roleId != null">
            AND o.id=#{roleId}
        </if>
    </select>
</mapper>