<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.shiro.RoleMapper">
    <!--新增角色-->
    <insert id="insert" parameterType="sunday.pojo.shiro.Role">
        INSERT INTO com_role(name,remark)
        VALUES (#{name,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
    </insert>

    <!--查询角色-->
    <select id="select" parameterType="java.util.Map"
            resultType="sunday.pojo.shiro.Role">
        SELECT *
        FROM com_role
        <where>
            <if test="id != null">
                id=#{id,jdbcType=SMALLINT}
            </if>
            <if test="name != null">
                AND name=#{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--查询教师角色-->
    <select id="selectByTeacherInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.shiro.Role">
        SELECT r.*
        FROM com_teacher_l_role l,com_role r
        WHERE l.roleId=r.id AND teacherId=#{teacherId,jdbcType=SMALLINT}
    </select>

    <!--查询教师角色-->
    <select id="selectByManagerInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.shiro.Role">
        SELECT r.*
        FROM com_manager_l_role l,com_role r
        WHERE l.roleId=r.id AND managerId=#{managerId,jdbcType=SMALLINT}
    </select>

    <!--教师与角色相关联-->
    <insert id="link2Teacher">
        INSERT INTO com_teacher_l_role(teacherId,roleId)
        VALUES (#{teacherId,jdbcType=SMALLINT},#{roleId,jdbcType=SMALLINT})
    </insert>

    <!--普通管理员与角色相关联-->
    <insert id="link2Manager">
        INSERT INTO com_manager_l_role(managerId,roleId)
        VALUES (#{managerId,jdbcType=SMALLINT},#{roleId,jdbcType=SMALLINT})
    </insert>
</mapper>