<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.shiro.RoleMapper">
    <!--新增角色-->
    <insert id="insert" parameterType="yang.domain.shiro.Role">
        INSERT INTO com_role (name, remark)
        VALUES (#{name}, #{remark})
    </insert>

    <!--查询角色-->
    <select id="select" parameterType="java.util.Map"
            resultType="yang.domain.shiro.Role">
        SELECT *
        FROM com_role
        <where>
            <if test="id != null">
                AND id=#{id}
            </if>
            <if test="name != null">
                AND name=#{name}
            </if>
        </where>
    </select>

    <!--查询学生角色-->
    <select id="selectByStudentInfo" parameterType="java.util.Map"
            resultType="yang.domain.shiro.Role">
        SELECT r.*
        FROM com_studnet_l_role l, com_role r, com_student s
        WHERE l.roleId = r.id AND l.studentId = s.studentId AND s.studentId = #{studentId}
    </select>

    <!--查询教师角色-->
    <select id="selectByTeacherInfo" parameterType="java.util.Map"
            resultType="yang.domain.shiro.Role">
        SELECT r.*
        FROM com_teacher_l_role l, com_role r, com_teacher t
        WHERE l.roleId = r.id AND l.teacherId = t.teacherId AND t.teacherId = #{teacherId}
    </select>

    <!--查询管理员角色-->
    <select id="selectByManagerInfo" parameterType="java.util.Map"
            resultType="yang.domain.shiro.Role">
        SELECT r.*
        FROM com_manager_l_role l, com_role r, com_manager m
        WHERE l.roleId = r.id AND l.managerId = m.managerId AND m.managerId = #{managerId}
    </select>

    <!--教师与角色相关联-->
    <insert id="link2Teacher">
        INSERT INTO com_teacher_l_role (teacherId, roleId)
        VALUES (#{teacherId}, #{roleId})
    </insert>

    <!--普通管理员与角色相关联-->
    <insert id="link2Manager">
        INSERT INTO com_manager_l_role (managerId, roleId)
        VALUES (#{managerId}, #{roleId})
    </insert>

    <!--学生与角色相关联-->
    <insert id="link2Student">
        INSERT INTO com_studnet_l_role (studentId, roleId)
        VALUES (#{studentId}, #{roleId})
    </insert>
</mapper>