<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.manager.AdminStudentMapper">

    <!--查询专业信息-->
    <select id="selectSpecialty" parameterType="java.util.Map" resultType="sunday.pojo.school.Specialty">
        SELECT *
        FROM stuexasys.com_specialty
        <where>
            <if test="specialtyName!=null">
                AND name = #{specialtyName.jdbcType=CHAR}
            </if>
        </where>
    </select>

    <delete id="deleteSpecialty" parameterType="java.util.Map">
        DELETE FROM stuexasys.com_specialty
        <where>
            <if test="specialtyId!=null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>

    </delete>

    <delete id="deleteTeacher2Course" parameterType="java.util.Map">
        DELETE FROM stuexasys.com_teacher_l_course
        <where>
            <if test="specialtyId!=null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>