<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.manager.AdminStudentMapper">

    <!--查询学生详细信息-->
    <select id="selectStudentInfo" parameterType="java.util.Map" resultType="yang.domain.student.StudentTaken">
        SELECT *
        FROM com_student
        where com_student.studentId IN
        <foreach collection="studentUploadList" index="index" item="studentItem" open="(" separator="," close=")">
            #{studentItem.studentId}
        </foreach>
    </select>

    <!--查询专业信息-->
    <select id="selectSpecialty" parameterType="java.util.Map" resultType="yang.domain.common.Specialty">
        SELECT *
        FROM com_specialty
        <where>
            <if test="specialtyInfo!=null">
                AND specialtyId IN
                <foreach collection="specialtyInfo" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem.specialtyId}
                </foreach>
            </if>
        </where>
    </select>

    <!--查询教师选课表 with specialtyId-->
    <select id="selectTeacher2Course" parameterType="java.util.Map"
            resultType="yang.domain.dto.Specialty2Course">
        SELECT*
        FROM com_teacher_l_course
        <where>
            <if test="specialtyId != null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>

    </select>

    <!--删除专业-->
    <delete id="deleteSpecialty" parameterType="java.util.Map">
        DELETE FROM com_specialty
        <where>
            <if test="specialtyId!=null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>

    </delete>

    <!--删除教师选课表中的数据 with specialtyId-->
    <delete id="deleteTeacher2Course" parameterType="java.util.Map">
        DELETE FROM com_teacher_l_course
        <where>
            <if test="specialtyId!=null">
                AND specialtyId IN
                <foreach collection="specialtyId" index="index" item="specialtyItem" open="(" separator="," close=")">
                    #{specialtyItem}
                </foreach>
            </if>
        </where>
    </delete>

    <!--批量插入新专业-->
    <insert id="insertSpecialty" parameterType="java.util.Map">
        INSERT INTO com_specialty (specialtyId, name)
        VALUES
        <foreach collection="specialtyInfo" index="index" item="specialtyItem" separator=",">
            (#{specialtyItem.specialtyId,jdbcType=INTEGER}, #{specialtyItem.name,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--批量插入学生-->
    <insert id="insertStudent" parameterType="java.util.Map">
        INSERT INTO com_student(studentId, password, name, specialtyId, gender)
        VALUES
        <foreach collection="studentUploadList" item="item" index="index" separator=",">
            (#{item.studentId,jdbcType=INTEGER},#{item.password,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},#{item.specialtyId,jdbcType=INTEGER},
            #{item.gender,jdbcType=CHAR})
        </foreach>
    </insert>

    <!--批量插入学生权限-->
    <insert id="insertStudentRole" parameterType="java.util.Map">
        INSERT INTO com_studnet_l_role(studentId, roleId)
        VALUES
        <foreach collection="studentUploadList" item="item" index="index" separator=",">
            (#{item.studentId,jdbcType=INTEGER},4)
        </foreach>
    </insert>
</mapper>