<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.manager.CourseMapper">

    <!--查询课程ok-->
    <select id="select" parameterType="java.util.Map"
            resultType="yang.domain.common.Course">
        SELECT *
        FROM com_course
        <where>
            <if test="courseId != null">
                courseId=#{courseId}
            </if>
        </where>
        ORDER BY courseId ASC
    </select>

    <!--新增课程ok-->
    <insert id="insert" parameterType="yang.domain.common.Course">
        INSERT INTO com_course (courseId, name, period, credit, chapterNum)
        VALUES (#{courseId}, #{name}, #{period}, #{credit}, #{chapterNum})
    </insert>

    <!--删除课程ok-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM com_course
        WHERE courseId = #{courseId}
    </delete>

    <!--以教师ID删除课程ok-->
    <delete id="deleteCourseTakenByTeacherId" parameterType="java.lang.Integer">
        DELETE FROM com_teacher_l_course
        WHERE teacherId = #{teacherId}
    </delete>

    <!--更新课程ok-->
    <update id="update" parameterType="yang.domain.common.Course">
        UPDATE com_course
        <set>
            <if test="courseId != null">
                courseId = #{courseId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="period != null">
                period = #{period},
            </if>
            <if test="credit != null">
                credit = #{credit},
            </if>
            <if test="chapterNum != null">
                chapterNum = #{chapterNum},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>