<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.manager.CourseMapper">

    <!--查询课程-->
    <select id="select" parameterType="java.util.Map"
            resultType="yang.domain.school.Course">
        SELECT *
        FROM com_course
        <where>
            <if test="courseId != null">
                courseId=#{courseId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY courseId ASC
    </select>

    <!--新增课程-->
    <insert id="insert" parameterType="yang.domain.school.Course">
        INSERT INTO com_course (courseId, name, period, credit, chapterNum)
        VALUES (#{courseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
                #{period,jdbcType=INTEGER}, #{credit,jdbcType=INTEGER}, #{chapterNum,jdbcType=INTEGER})
    </insert>

    <!--删除课程-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM com_course
        WHERE courseId = #{courseId,jdbcType=INTEGER}
    </delete>

    <!--以教师ID删除课程-->
    <delete id="deleteCourseTakenByTeacherId" parameterType="java.lang.Integer">
        DELETE FROM com_teacher_l_course
        WHERE teacherId = #{teacherId,jdbcType=INTEGER}
    </delete>

    <!--更新课程-->
    <update id="update" parameterType="yang.domain.school.Course">
        UPDATE com_course
        <set>
            <if test="courseId != null">
                courseId = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="period != null">
                period = #{period,jdbcType=INTEGER},
            </if>
            <if test="credit != null">
                credit = #{credit,jdbcType=INTEGER},
            </if>
            <if test="chapterNum != null">
                chapterNum = #{chapterNum,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>