<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.manager.ManStuMapper">

    <!--查询学生信息-->
    <select id="selectStuInfo" parameterType="java.util.Map" resultType="sunday.pojo.school.Student">
        SELECT *
        FROM stuexasys.com_student s
        <where>
            <if test="specialtyId != null">
                AND s.specialtyId = #{specialtyId,jdbcType=int}
            </if>
            <if test="specialtyId == null">
                AND s.specialtyId = 0
            </if>
            <if test="studentId != null">
                AND s.studentId = #{studnetId,jdbcType=int}
            </if>
        </where>
    </select>


</mapper>