<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yang.dao.manager.SpecialtyMapper">

    <!--新增专业-->
    <insert id="insert" parameterType="yang.domain.common.Specialty">
        INSERT INTO com_specialty(specialtyId, name) VALUES (#{specialtyId},#{name})
    </insert>

    <!--查询专业-->
    <select id="select" parameterType="java.util.Map"
            resultType="yang.domain.common.Specialty">
        SELECT *
        FROM com_specialty
        <where>
            <if test="specialtyId != null">
                specialtyId =#{specialtyId}
            </if>
        </where>
        ORDER BY specialtyId ASC
    </select>

    <!--删除专业-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM com_specialty WHERE specialtyId=#{specialtyId}
    </delete>

    <!--更新专业-->
    <update id="update" parameterType="yang.domain.common.Specialty">
        UPDATE com_specialty
        <set>
            <if test="specialtyId != null">
                specialtyId = #{specialtyId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
