<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.manager.SpecialtyMapper">

    <!--新增专业-->
    <insert id="insert" parameterType="sunday.pojo.school.Specialty">
        INSERT INTO com_specialty(specialtyId, name) VALUES (#{specialtyId,jdbcType=INTEGER},#{name,jdbcType=VARCHAR})
    </insert>

    <!--查询专业-->
    <select id="select" parameterType="java.util.Map"
            resultType="sunday.pojo.school.Specialty">
        SELECT *
        FROM com_specialty
        <where>
            <if test="specialtyId != null">
                specialtyId =#{specialtyId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY specialtyId ASC
    </select>

    <!--删除专业-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM com_specialty WHERE specialtyId=#{specialtyId,jdbcType=INTEGER}
    </delete>

    <!--更新专业-->
    <update id="update" parameterType="sunday.pojo.school.Specialty">
        UPDATE com_specialty
        <set>
            <if test="specialtyId != null">
                specialtyId = #{specialtyId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
