<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sunday.mapper.SpeCouMapper">
    <!--新增班级-->
    <insert id="insertSpecialty" parameterType="sunday.pojo.Specialty">
        INSERT INTO com_specialty(specialtyId,name)
        VALUES (#{specialtyId,jdbcType=CHAR},#{name,jdbcType=CHAR})
    </insert>

    <!--查询班级-->
    <select id="selectSpecialty" parameterType="java.util.Map"
            resultType="sunday.pojo.Specialty">
        SELECT *
        FROM com_specialty
        <where>
            <if test="specialtyId != null">
                specialtyId=#{specialtyId,jdbcType=CHAR}
            </if>
            <if test="name != null">
                AND name=#{name,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <!--新增课程-->
    <insert id="insertCourse" parameterType="sunday.pojo.Course">
        INSERT INTO com_course(courseId,name,period,credit)
        VALUES (#{courseId,jdbcType=CHAR},#{name,jdbcType=CHAR},#{period,jdbcType=TINYINT},#{credit,jdbcType=TINYINT})
    </insert>

    <!--查询课程-->
    <select id="selectCourse" parameterType="java.util.Map"
            resultType="sunday.pojo.Course">
        SELECT *
        FROM com_course
        <where>
            <if test="courseId != null">
                courseId=#{courseId,jdbcType=CHAR}
            </if>
            <if test="name != null">
                AND name=#{name,jdbcType=CHAR}
            </if>
            <if test="period != null">
                AND period=#{period,jdbcType=TINYINT}
            </if>
            <if test="credit != null">
                AND credit=#{credit,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!--新增选课信息-->
    <insert id="insertCourseTaken" parameterType="sunday.pojo.CourseTaken">
        INSERT INTO com_teacher_l_course(teacherId,courseId,specialtyId,starttime,endtime)
        VALUES (#{teacherId,jdbcType=CHAR},#{courseId,jdbcType=CHAR},#{specialtyId,jdbcType=CHAR},#{starttime,jdbcType=DATE},#{endtime,jdbcType=DATE})
    </insert>

    <!--查询选课信息-->
    <select id="selectTakenInfo" parameterType="java.util.Map"
            resultType="sunday.pojo.dto.TakenInfo">
        SELECT t.name AS teacherName ,c.name AS courseName,s.name AS
        specialtyName,l.starttime AS starttime,l.endtime AS endtime
        FROM com_teacher_l_course l,com_course c,com_teacher t,com_specialty s
        WHERE l.teacherId=t.teacherId AND l.courseId=c.courseId AND
        l.specialtyId=s.specialtyId
        <if test="teacherId != null">
            AND l.teacherId=#{teacherId,jdbcType=CHAR}
        </if>
    </select>

</mapper>