<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描包-->
    <context:component-scan base-package="yang.common.realm">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--会话ID-->
    <bean id="sessionIdGenerator"
          class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!--会话DAO-->
    <bean id="shiroSessionDAO"
          class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName"
                  value="yang-shiro"/>
        <property name="sessionIdGenerator"
                  ref="sessionIdGenerator"/>
    </bean>

    <!--Cookie模板-->
    <bean id="sessionIdCookie"
          class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="name" value="cookie_yue"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
    </bean>

    <!--会话管理器-->
    <bean id="webSessionManager"
          class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout"
                  value="7200000"/>
        <property name="deleteInvalidSessions"
                  value="true"/>
        <property name="sessionValidationInterval"
                  value="30000"/>
        <property name="sessionValidationSchedulerEnabled"
                  value="true"/>
        <property name="sessionDAO"
                  ref="shiroSessionDAO"/>
        <property name="sessionIdCookieEnabled"
                  value="true"/>
        <property name="sessionIdCookie"
                  ref="sessionIdCookie"/>
    </bean>

    <!-- 安全管理器-->
    <bean id="webSecurityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="sessionManager"
                  ref="webSessionManager"/>
        <property name="cacheManager"
                  ref="shiroEhCacheManager"/>
    </bean>

    <!--过滤器-->
    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager"
                  ref="webSecurityManager"/>
        <property name="loginUrl"
                  value="/common/user/login.jsp"/>
        <property name="unauthorizedUrl"
                  value="/common/user/login.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /common/error/*=anon
                /common/example/*=authc
                /common/image/*=anon
                /common/inc/head.jsp=anon
                /common/inc/bootstrap-judge.jsp=authc
                /common/jslib/*=anon
                /common/mycss/*=anon
                /common/user/*=anon
                /manager/**=authc
                /teacher/**=authc
                /student/**=anon
            </value>
        </property>
    </bean>

    <!--Lifecycle-->
    <bean id="lifecycleBeanPostProcessor"
          class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--注解-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="webSecurityManager"/>
    </bean>

    <!--异常-->
    <bean id="shiroHandlerExceptionResolver"
          class="yang.common.exception.ShiroHandlerExceptionResolver"/>

</beans>