<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--ehcache-Bean-->
    <bean id="shiroEhCacheManagerFactoryBean"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="shared" value="true"/>
        <property name="configLocation"
                  value="classpath:config/cache/ehcache.xml"/>
    </bean>

    <!-- shiro ehcache缓存 -->
    <bean id="shiroEhCacheManager"
          class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager"
                  ref="shiroEhCacheManagerFactoryBean"/>
    </bean>

    <!-- shiro redis缓存 -->
    <!--<bean id="shiroRedisCacheManager"-->
          <!--class="yang.common.cache.redis.RedisCacheManager"/>-->

</beans>
