<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--ehcache-Bean-->
    <!-- shiroEhCacheManagerFactoryBean -->
    <bean id="shiroEhCacheManagerFactoryBean"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <!--必有属性，否则报错-->
        <property name="shared" value="true"/>
        <property name="configLocation">
            <value>classpath:config/cache/ehcache.xml</value>
        </property>
    </bean>

    <!-- shiro ehcache缓存 -->
    <bean id="shiroEhCacheManager"
          class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager"
                  ref="shiroEhCacheManagerFactoryBean"/>
    </bean>

</beans>
